<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">

<style>
  .blog-title {
      color: #001524;
  }
  .blog-description {
      color: #001524;
  }
     /* Links */
     a:hover {
         color: #d0d7ce;
     }

     /* Header Buttons on Startpage */
     a.btn {
         color: #f6f0ed;
          background-color: #667761;
     }
     a.btn:hover {
          background-color: #d0d7ce;
     }

     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #667761;
     }
     a.fn-item:hover {
          color: #d0d7ce;
     }

     /* Content / Sections */
     .post-holder.odd {
          background: #667761;
          color: #f6f0ed;
     }
     .post-holder:has(.first) {
	 background: #feae00;
     }
     .post-holder {
         background: #f6f0ed;
	 color: #001524;
     }
     body {
          color: #001524;
     }

     /* Footer */
     .site-footer {
          color: #ece4e5;
          background-color: #001524;
     }

     h1 {
	 font-family: 'Oswald', sans-serif !important;
	 font-weight: 700;
     }
</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
